<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2">  <!--  Refresh every 1 second -->
    <title>AQMS Prototype</title>
</head>
<body>

    <header>
        <div>AQMS PROTOTYPE</div>
    </header>

    <nav>
        
    </nav>

    <main>
        <div>Temperature:</div>
        <div>{{ temperature }}</div>
        <div>Pressure:</div>
        <div>{{ pressure }}</div>
        <div>Humidity:</div>
        <div>{{ humidity }}</div>
        <div>Gas:</div>
        <div>{{ gas }}</div>
        <div>Altitude:</div>
        <div>{{ altitude }}</div>
        <div>TVOC:</div>
        <div>{{ tvoc }}</div>
        <div>eCO2:</div>
        <div>{{ eco2 }}</div>
        <div>Raw H2:</div>
        <div>{{ raw_h2 }}</div>
        <div>Raw_Ethanol:</div>
        <div>{{ raw_ethanol }}</div>
    </main>

    <footer>
       
    </footer>

    <!-- Add any additional scripts or libraries here -->

</body>
</html>
