<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2"> <!-- Refresh every 2 seconds -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="carousel.css">
    <script src="script.js"></script>
    <script type="text/javascript" src="carousel.js" defer></script>
    <link rel="icon" href="assets/pup-logo.svg" type="image/x-icon">  
    <title>Ambiance</title>
</head>
<body>
    <header>
        <div>Ambiance</div>
    </header>
    <main>
        <div class="sensor-data">Temperature: {{ temperature }}</div>
        <div class="sensor-data">Pressure: {{ pressure }}</div>
        <div class="sensor-data">Humidity: {{ humidity }}</div>
        <div class="sensor-data">Gas: {{ gas }}</div>
        <div class="sensor-data">Altitude: {{ altitude }}</div>
        <div class="sensor-data">TVOC: {{ tvoc }}</div>
        <div class="sensor-data">eCO2: {{ eco2 }}</div>
        <div class="sensor-data">Raw H2: {{ raw_h2 }}</div>
        <div class="sensor-data">Raw Ethanol: {{ raw_ethanol }}</div>
    </main>
    <div class="slider">
        <img src="slider_fg.svg">
    </div>
    <footer>
        <div>2024 AQMS Prototype</div>
    </footer>
</body>
</html>
